.dashboard{
    display: flex;
    height: 90vh;
}
.dashboard .sidebar-container{
   width: 20%;
   border-right: 2px solid gray;
}

.dashboard .content-container{
    width: 80%;
}

 /*contact list table styles
 */
 .contact-list{
    text-align: center;
    padding: 20px 60px 0px 60px;
 }
 .table-icon1, .table-icon2{
  margin: 0px 5px;
  font-style: 16px;
    cursor: pointer;
 }
 .table-icon1{
    color: green;
 }
 .table-icon2{
    color: red;
 }
